*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background: #001e4d;
}

.app{
    background: linear-gradient(135deg,rgb(150, 222, 218),rgb(75, 69, 158));
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 1px 20px 30px 4px  blueviolet;
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: rgb(248, 232, 232);
    color: #222;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: white;
    box-shadow: 5px 5px 5px 5px rgb(220, 243, 10);
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.correct{
    background: rgb(9, 243, 9);
}
.incorrect{
    background: rgb(237, 50, 50);
}